@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: local('Syncopate'), local('Syncopate-Regular'), url(https://fonts.gstatic.com/s/syncopate/v7/pDM9CVwNx1ufBHCEatJA3FtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}
@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 700;
  src: local('Syncopate Bold'), local('Syncopate-Bold'), url(https://fonts.gstatic.com/s/syncopate/v7/S5z8ixiOoC4WJ1im6jAlYOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}


.timer {
	font-family: 'Syncopate';
	font-size: 50px;
}

.milliseconds {
	font-family: 'Syncopate';
	font-size: 20px;
}

.timer-input {
	display: inline;
}

.countdown-timer {
	font-family: 'Syncopate';
	font-size: 20;
	position: absolute;
	left: 3px;
    width: 100%;
    height: 100%;
    line-height: 6em;
    font-weight: 100;
}

.stopwatch-timer {
	font-family: 'Syncopate';
	font-size: 20;
}	

.progress-bar {
	left: 20px;
}

.start-button {
	left: 16px;
}

.stop-button {
	left: 16px;
}

.invalid {
	color: red;
}